<!DOCTYPE html>
<html>
<head>
<title>Stendev</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/styles/notebook.css" />
<link href='http:/stendev.comli.com/favicon.ico' rel='shortcut icon' type='image/x-icon'/>
<link href='http://stendev.comli.com/favicon.ico' rel='icon' type='image/x-icon'/>
<script type="text/javascript" src="/script/notebook.js"></script>
<script type="text/javascript" src="/script/autoTextArea.js"></script>
<script type="text/javascript" src="/script/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/script/jquery.masonry.min.js"></script>

<script type="text/javascript" src="/script/jquery-ui-1.8.10.custom.min.js"></script>

<script type="text/javascript" src="/script/socket.io.js"></script>

<script type="text/javascript" src="/script/youtube.js"></script>
<script type="text/javascript" src="/script/reply.js"></script>
<script type="text/javascript" src="/script/replyThis.js"></script>
<script type="text/javascript" src="/script/question.js"></script>
<script type="text/javascript" src="/script/getStudent.js"></script>
<script type="text/javascript" src="/script/receptor.js"></script>
	<!-- Actions -->
	<script type="text/javascript" src="/script/actions/enter.js"></script>
    <script type="text/javascript" src="/script/actions/_enter.js"></script>
    
    <script type="text/javascript" src="/script/actions/disconnect.js"></script>
    <script type="text/javascript" src="/script/actions/_getStudent.js"></script>
    <script type="text/javascript" src="/script/actions/newQuestion.js"></script>
    <script type="text/javascript" src="/script/actions/getAnswer.js"></script>
    <script type="text/javascript" src="/script/actions/_reply.js"></script>
    <script type="text/javascript" src="/script/actions/_post.js"></script>
    <script type="text/javascript" src="/script/actions/_getComments.js"></script>
    <script type="text/javascript" src="/script/actions/_comment.js"></script>
    <script type="text/javascript" src="/script/actions/_msgChat.js"></script>
    <script type="text/javascript" src="/script/actions/_url.js"></script>

<script type="text/javascript" src="/script/scribook/redraw_saved.js"></script>   
<script type="text/javascript" src="/script/resizer.js"></script>

<script type="text/javascript" src="/script/scriba/scriba.js"></script>
<script type="text/javascript" src="/script/scriba/options.js"></script> 
<script type="text/javascript" src="/script/scriba/colors.js"></script> 
<script type="text/javascript" src="/script/scriba/send.js"></script>

<script type="text/javascript" src="/script/user-tools.js"></script> 

<script type="text/javascript" src="/script/stenpad/tools.js"></script>
<script type="text/javascript" src="/script/paget.js"></script>

<script type="text/javascript">

var socket = new io.Socket(null, {rememberTransport: false, port:80});
socket.connect();

// Cuaderno
var cuaderno;
	
// Students info.
	var student = {
		name : "<%=student.name%>",
		firstname : "<%=student.firstname%>",
		lastname : "<%=student.lastname%>",
		id : "<%=student.id%>",
		facebook : "<%=student.facebook%>",
		fbID : "<%=student.fbID%>",
		email : "<%=student.email%>",
		university : "<%=student.university%>",
		career : "<%=student.career%>",
		avatar : "<%=student.avatar%>",
		studying : "<%=student.studying%>",
		nb : "<%=nb_student.id%>",
		route : "notebook"
		}
	
	student.action = "enter";
	socket.send(student);
	receptor(socket,student);

window.onunload = function(){
	student.action = "disconnect";
	socket.send(student);
};

	
$(document).ready( function() {
	
	
	$(".opt-viewers").click(function(){
			$(".viewers").toggle("fast");
		
	});	
		
	
});

window.onresize = function(){
}

</script>
</head>
<body>
<!--<div id="fb-root"></div>-->
<script>
  /*window.fbAsyncInit = function() {
    FB.init({appId: '194545070569456', status: true, cookie: true,
             xfbml: true});
	
	var newf = {
	'message':'Check out this funny article',
     'link':'http://www.example.com/article.html',
     'picture':'http://www.example.com/article-thumbnail.jpg',
     'name':'Article Title',
     'caption':'Caption for the link',
     'description':'Longer description of the link',
     'actions':'{"name": "View on Zombo", "link": "http://www.zombo.com"}',
     'privacy':'{"value": "ALL_FRIENDS"}',
     'targeting': '{"countries":"US","regions":"6,53","locales":"6"}',
	 
	}
	
	FB.api('/me/feed', 'post', newf, function(response) {
	  if (!response || response.error) {
		alert('Error occured');
	  } else {
		alert('Post ID: ' + response.id);
	  }
	});
   
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());*/

</script>

<div id="header">
        <div id="logo"><img src="/img/logos/logo2.png" height="23" /></div>
        
        <div id="menu">
        	<ul>
            	<li class="user"><img src="<%=student.avatar%>" width="20" height="20"/><a href="/"><%= student.name %></a></li>
            	<li><a href="/nb?id=<%=student.id%>">Cuaderno</a></li>
                 <li><a href="/slate?id=<%=student.id%>">Pizarra</a></li>
                 <li><a href="/plugins">Extensiones</a></li>
            </ul>
        </div>     
</div>

<!-- PAGE -->
<div id="page">
	<!-- CONTAINER -->
    <div id="container">
    
    <!-- HEADER CONTAINER -->
    <header>
      <span>Cuaderno de <%=nb_student.name%></span>
      
      <nav>
      <ul>
      	<li class="opt-saved"><a href="/nb?id=<%=nb_student.id%>&pg=fl">Archivos</a></li>
        <li class="opt-viewers">0</li>
      </ul>
      </nav>
      
    </header> <!-- END HEADER CONTAINER -->
    
    <!-- VIEWERS -->
    <div class='viewers'>
        <section>
        </section>
    </div><!-- END VIEWERS -->
 
 	<!-- BOARD -->
    <div id="board">
    	
        <!-- LEFT --->
    	<div id="left">
        
        	<ul class="types">
            	<li class="active types-text"><div class="icon-text"></div>Texto</li>
                <li class="types-draw"><div class="icon-draw"></div>Escrito</li>
            </ul>
        
        </div><!-- END LEFT -->
        
        
        
        <!-- RIGHT -->
        <div id="right">
        
        	<!-- RIGHT-CONTAINGER -->
        	<div id="right-container">

                    <% for(var i=0;i<nb_pages.length;i++){ %>
                        <figure class="page-notebook">
                            <div class="page-img"><img src="<%=nb_pages[i].all%>"/></div>
                            <figcaption class="page-caption">
                            	<span class="page-title"><%=nb_pages[i].name%></span>
                                <time class="page-date"><%=nb_pages[i].date%></time>
                                
                            </figcaption>
                        </figure>
                    <% } %>
            
            <div class="clear">       
			</div><!-- END RIGHT-CONTAINER -->
            
			</div><!-- END RIGHT --> 
                 
		</div><!-- END BOARD -->
                   
	</div><!-- END CONTAINER -->
    
</div><!-- END PAGE -->
<div id="tooltip"></div>
</body>
</html>